html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-content: center;
  background-color: #FAFAFA;
}

h1 {
	text-align: center;
}

.githubLink {
	text-align: center;
}

.gamepadState {
	background-color: rgba(116, 199, 232, 0.55);

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
  
  max-width: calc(100vw - 16px);
  word-break: break-all;
  overflow: hidden;
}

.addRemoveTouch {
	background-color: rgba(116, 124, 232, 0.55);

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.addRemoveTouch button {
	background-color: aliceblue;
}

.dynamicTouchInput {
  background-color: rgba(32, 89, 200, 0.55);

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.preventDefault {
	height: 500px;
	background-color: rgba(199,116,232, 0.55);

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.gamepad {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	pointer-events: none;
  user-select: none;
}

.gamepad svg, .gamepad .analog-container {
	width: 50%;
	height: 20%;
	pointer-events: auto;

  background-color: rgba(0,0,0,0.5);
  fill: #FAFAFA;
}

.analog-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analog-container svg {
  background-color: transparent;
  width: 100%;
  height: 100%;

}

.analog-background {
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
}

.analog-stick {
  z-index: 100;
  width: 68px !important;
  height: 68px !important;
}

.gamepad svg text {
  font-size: 6px
}
