/* Import our CSS Libs */
@import 'sakura.css/css/normalize.css';
@import 'sakura.css/css/sakura.css';

/* Touchpad */
.touchpad-spacing {
  height: 20vh;
}

.touchpad {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	pointer-events: none;
  user-select: none;
}

.touchpad svg, .touchpad .analog-container {
	width: 50%;
	height: 20%;
	pointer-events: auto;

  background-color: rgba(0,0,0,0.5);
  fill: #FAFAFA;
}

.touchpad svg text {
  font-size: 6px
}

.analog-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analog-container svg {
  background-color: transparent;
  width: 100%;
  height: 100%;

}

.analog-background {
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
}

.analog-stick {
  z-index: 100;
  width: 68px !important;
  height: 68px !important;
}

